<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
 
  <title>BOOKshelf</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'><link rel="stylesheet" href="style.css">
  <link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="la.png">

</head>

<style type="text/css">
  .qa {
    text-align: right; margin-left: 20%;
  }
@media (max-width: 600px){
  .maaz {
    width: 104%;
}
}
  }
</style>
<body onload="resetSelection()">
<!-- partial:index.partial.html -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="width: 10%">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="logo.png" style="width: 100%; height: 250%; margin-top: -15px">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#about">About Us</a></li>
        
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button class="button" style="vertical-align:middle"><span>Store </span></button>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SignUp <span class="caret"></span></a>
         <ul class="dropdown-menu dropdown-lr animated flipInX" role="menu" style="width: 300px">
            <div class="col-lg-12">
              <div class="text-center">
                <h3><b>Register</b></h3></div>
              <form id="ajax-register-form" action="http://phpoll.com/register/process" method="post" role="form" autocomplete="off">
                <div class="form-group">
                  <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                </div>
                <div class="form-group">
                  <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                </div>
                <div class="form-group">
                  <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                      <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-info" value="Register Now">
                    </div>
                  </div>
                </div>
                <input type="hidden" class="hide" name="token" id="token" value="7c6f19960d63f53fcd05c3e0cbc434c0">
              </form>
            </div>
          </ul></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log In <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-lr animated slideInRight" role="menu" style="width: 300px">
            <div class="col-lg-12">
              <div class="text-center">
                <h3><b>Log In</b></h3></div>
              <form id="ajax-login-form" action="http://phpoll.com/login/process" method="post" role="form" autocomplete="off">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" autocomplete="off">
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-7">
                      <input type="checkbox" tabindex="3" name="remember" id="remember">
                      <label for="remember"> Remember Me</label>
                    </div>
                    <div class="col-xs-5 pull-right">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Log In">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="text-center">
                        <a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                      </div>
                    </div>
                  </div>
                </div>
                <input type="hidden" class="hide" name="token" id="token" value="a465a2791ae0bae853cf4bf485dbe1b6">
              </form>
            </div>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="carousel-example-generic" class="carousel slide maaz" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg" alt="..." class="img-responsive">
      <div class="carousel-caption">
      
      </div>
    </div>
    <div class="item">
      <img src="books.png" alt="..." class="img-responsive">
      <div class="carousel-caption">
     
      </div>
    </div>
    <div class="item">
      <img src="book.png" alt="..." class="img-responsive">
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
 
</div>

<section>
  <a name="about"></a>
  <div class="container-fluid">
    <h1 style="text-align: center;font-size: 5rem;">About Us</h1>
    <div class="row" style="width: 100%; padding: 30px" >
      <div class="col-lg-1 col-md-1"></div>
      <div class="col-lg-6 col-md-6 col-sm-6vcol-xs-6" style="text-align: justify; font-size: 18px;">
      The ‘BOOKshelf’ is a platform where used textbooks can be provided to the under privileged children and students at fairly cheaper rates. Our idea is to employ this platform, where we can make textbooks and stationery available for those who are not able to spend large amounts of money on books and education. The goal is to be able to provide the high quality educational material to every one regardless of their social, geographical and economic status. Donation centres will be established in schools, colleges along with this website for books collection and sale. Supply networks will have connection with different NGOs and similar organizations to identify more and more students who are in need of our services. Thus it is a small step towards shaping a better future working together.
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 " style="align-items: center; text-align: center; vertical-align: center;">
        <video class="vd" poster="images_unsplash_com-photo-1483104879057-379b6c2fe5a2.png" controls width="400px" height="240px">
       <source src="https://youtu.be/mWRsgZuwf_8" poster="" type="video/mp4">
      </video>
      </div>
    </div>
  </div>
</section>
<!-- books -->
<section>
  <div class="container-fluid">
    <header style="text-align: center;"><span style="font-size: 5rem; text-align: center; margin-left: 40%">NGOs</span> <span class="qa" >
      <select id="countrySelect" size="1" onchange="makeSubmenu(this.value)">
<option value="" disabled selected>Choose State</option>
<option>Odisha</option>
<option>Maharashtra</option>
<option>Kerala</option>
<option>Punjab</option>
<option>Haryana</option>
<option>Uttar Pradesh</option>
<option>Uttarakhand</option>
<option>Tamil Nadu</option>
<option>Andhra Pradesh</option>
<option>Bihar</option>
</select>
<select id="citySelect" size="1" >
<option value="" disabled selected>Choose City</option>
<option></option>
</select>
<button onclick="displaySelected()">show selected</button>
    </span></header>
    
  </div>

  <div class="row" style="height: 30px"></div>
  <div class="row" style="width: 100%; padding: 20px; margin-left: 30px">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="card" style="width: 85%; height: 395px; padding: 10px; box-shadow: ">
        <div class="thumb" style="width: 100%; align-items: center;">
          <img src="https://img.huffingtonpost.com/asset/5c12252e2600005e0484ea9b.jpeg?ops=scalefit_720_noupscale">
        </div>
        <div style="text-align: center; font-size:14px "> <span style="font-size: 2rem; font-weight: bold;">Darsh NGO</span> <br> The NGO DARPAN was earlier maintained by erstwhile Planning Commission, which has been replaced by the NITI Aayog w.e.f. 1st January, 2015 <br> <br>
          <a href="pages/ngo.html"> <button>Know More</button></a></div>
      </div>
    </div>
   <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="card" style="width: 85%; height: 395px; padding: 10px; box-shadow: ">
        <div class="thumb" style="width: 100%; align-items: center;">
          <img src="https://cdn.psychologytoday.com/sites/default/files/styles/amp_metadata_content_image_min_1200px_wide/public/field_blog_entry_teaser_image/2018-05/_happy_jumping_on_beach-40815-144x144-380_22-2301_2303.jpg?itok=7_3G3IvN">
        </div>
        <div style="text-align: center; font-size:14px "> <span style="font-size: 2rem; font-weight: bold;">Darsh NGO</span> <br> The NGO DARPAN was earlier maintained by erstwhile Planning Commission, which has been replaced by the NITI Aayog w.e.f. 1st January, 2015 <br> <br>
          <a href="ngo.html"> <button>Know More</button></a></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="card" style="width: 85%; height: 395px; padding: 10px; box-shadow: ">
        <div class="thumb" style="width: 100%; align-items: center;">
          <img src="https://i1.wp.com/bestlifeonline.com/wp-content/uploads/2019/12/happy-woman-in-nature-at-sunset.jpg?resize=640%2C360&ssl=1">
        </div>
        <div style="text-align: center; font-size:14px "> <span style="font-size: 2rem; font-weight: bold;">Darsh NGO</span> <br> The NGO DARPAN was earlier maintained by erstwhile Planning Commission, which has been replaced by the NITI Aayog w.e.f. 1st January, 2015 <br> <br>
          <a href="pages/ngo.html"> <button>Know More</button></a></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="card" style="width: 85%; height: 395px; padding: 10px; box-shadow: ">
        <div class="thumb" style="width: 100%; align-items: center;">
          <img src="https://reliefindiatrustngoinindia.files.wordpress.com/2014/12/c0ee8-happy-childrens2bmaking2bresponsible2bat2brelief2bindia2btrust.jpg">
        </div>
        <div style="text-align: center; font-size:14px "> <span style="font-size: 2rem; font-weight: bold;">Darsh NGO</span> <br> The NGO DARPAN was earlier maintained by erstwhile Planning Commission, which has been replaced by the NITI Aayog w.e.f. 1st January, 2015 <br> <br>
         <a href="pages/ngo.html"> <button>Know More</button></a></div>
      </div>
    </div>


  </div>
  <div class="row" style="width: 100%; padding: 20px; margin-left: 30px">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="card" style="width: 85%; height: 395px; padding: 10px; box-shadow: ">
        <div class="thumb" style="width: 100%; align-items: center;">
          <img src="https://reliefindiatrustngoinindia.files.wordpress.com/2014/12/c0ee8-happy-childrens2bmaking2bresponsible2bat2brelief2bindia2btrust.jpg">
        </div>
        <div style="text-align: center; font-size:14px "> <span style="font-size: 2rem; font-weight: bold;">Darsh NGO</span> <br> The NGO DARPAN was earlier maintained by erstwhile Planning Commission, which has been replaced by the NITI Aayog w.e.f. 1st January, 2015 <br> <br>
          <a href="pages/ngo.html"> <button>Know More</button></a></div>
      </div>
    </div>
   <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="card" style="width: 85%; height: 395px; padding: 10px; box-shadow: ">
        <div class="thumb" style="width: 100%; align-items: center;">
          <img src="https://ggsc.s3.amazonaws.com/images/made/images/uploads/Happy_students_with_hands_up_300_200_int_c1-1x.jpg">
        </div>
        <div style="text-align: center; font-size:14px "> <span style="font-size: 2rem; font-weight: bold;">Darsh NGO</span> <br> The NGO DARPAN was earlier maintained by erstwhile Planning Commission, which has been replaced by the NITI Aayog w.e.f. 1st January, 2015 <br> <br>
          <a href="pages/ngo.html"> <button>Know More</button></a></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="card" style="width: 85%; height: 395px; padding: 10px; box-shadow: ">
        <div class="thumb" style="width: 100%; align-items: center;">
          <img src="https://reliefindiatrustngoinindia.files.wordpress.com/2014/12/c0ee8-happy-childrens2bmaking2bresponsible2bat2brelief2bindia2btrust.jpg">
        </div>
        <div style="text-align: center; font-size:14px "> <span style="font-size: 2rem; font-weight: bold;">Darsh NGO</span> <br> The NGO DARPAN was earlier maintained by erstwhile Planning Commission, which has been replaced by the NITI Aayog w.e.f. 1st January, 2015 <br> <br>
          <a href="pages/ngo.html"> <button>Know More</button></a></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="card" style="width: 85%; height: 395px; padding: 10px; box-shadow: ">
        <div class="thumb" style="width: 100%; align-items: center;">
          <img src="https://images.newindianexpress.com/uploads/user/imagelibrary/2019/8/20/w900X450/Feeding_India.JPG">
        </div>
        <div style="text-align: center; font-size:14px "> <span style="font-size: 2rem; font-weight: bold;">Darsh NGO</span> <br> The NGO DARPAN was earlier maintained by erstwhile Planning Commission, which has been replaced by the NITI Aayog w.e.f. 1st January, 2015 <br>
          <br>
         <a href="pages/ngo.html"> <button>Know More</button></a></div>
      </div>
    </div>


  </div>
</section>
<div class="row" style="height: 30px"> </div>
<section class="contact">
<div class="row" style="width: 100%">
  <div class="col-lg-6 col-md-6 cl-sm-12 col-xs-12" style="margin-top: 30px">
    <center style="font-family: 'Lobster', cursive;">
        <h1>Contact Us</h1>
    </center>

    <table width="100%">
      <tr>
        <td>
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control col-lg-3 col-md-3 col-sm-3 col-xs-3" placeholder="Please Enter your First Name" ng-model="firstName" required/>
        </td>
        <td>
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control col-lg-3 col-md-3 col-sm-3 col-xs-3" placeholder="Please Enter your Last Name" ng-model="lastName" required/>
        </td>
      </tr>
      
      <tr>
        <td>
            <label for="email">Email ID:</label>
            <input type="email" class="form-control col-lg-3 col-md-3 col-sm-3 col-xs-3" placeholder="Please enter your Email ID" ng-model="email" required/>
        </td>
        <td>
            <label for="place">Country:</label>
            <input type="text" class="form-control col-lg-3 col-md-3 col-sm-3 col-xs-3" placeholder="Please enter your Country" ng-model="place" required/>
        </td>
      </tr>
      <tr>
        <td>
            <label for="company">Company:</label>
            <input type="text" class="form-control col-lg-3 col-md-3 col-sm-3 col-xs-3" placeholder="Please enter your Comapany Name" ng-model="company" required/>
        </td>
        <td>
            <label for="profession">Profession:</label>
            <input type="text" class="form-control col-lg-3 col-md-3 col-sm-3 col-xs-3" placeholder="Please enter your Profession" ng-model="profession" required/>
        </td>
      </tr>

      <tr>
        <td colspan="2">
            <label for="message">Message:</label>
            <textarea class="form-control" rows="5" id="message" ng-model="message"></textarea>
        </td>
      </tr>
    </table>
    
    <button type="button" class="btn btn-danger btn-block buttonSubmit">WHAT DOES THIS BUTTON DO??</button>
  </div>
  <div class="col-lg-6 col-md-6 cl-sm-12 col-xs-12" style="margin-top: 30px">
    <div class="mapouter"><div class="gmap_canvas"><iframe width="500" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Vellore%20Institute%20of%20Technology&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.org">embed google map</a></div></div>
  </div>
</div>  
</section>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
 <script type="text/javascript">
var citiesByState = {
Odisha: ["Bhubaneswar","Puri","Cuttack"],
Maharashtra: ["Mumbai","Pune","Nagpur"],
Kerala: ["kochi","Kanpur"]
}
function makeSubmenu(value) {
if(value.length==0) document.getElementById("citySelect").innerHTML = "<option></option>";
else {
var citiesOptions = "";
for(cityId in citiesByState[value]) {
citiesOptions+="<option>"+citiesByState[value][cityId]+"</option>";
}
document.getElementById("citySelect").innerHTML = citiesOptions;
}
}
function displaySelected() { var country = document.getElementById("countrySelect").value;
var city = document.getElementById("citySelect").value;
alert(country+"\n"+city);
}
function resetSelection() {
document.getElementById("countrySelect").selectedIndex = 0;
document.getElementById("citySelect").selectedIndex = 0;
}
</script>
</body>
</html>
