body{
  overflow-x: hidden;
}
img{
  width:100%;
  max-width:100%;
}

.navbar{
  position:fixed;
  width:100%;
  background-color:#000;
  z-index:10;
  border-radius:0;
  border-color:transparent;
}
.navbar-default .navbar-nav > li > a{
  color:#fff;
  
}
	.vd{
		margin-top: 20px;
	}
  .card{
    margin-top: 20px;
    border-radius: 20px;
    background-color: #EEBE6B;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  }
  .thumb {
    border-radius: 20px;
  }
  .card:hover {
    transform: scale(1.1);
  }
  .card img {
    border-radius: 10px;
    min-height: 200px;
    max-height: 200px;
  }
.card button {
  background-color: black;
  color: white;
}
.contact{
  background-image: url(https://us.123rf.com/450wm/lusya/lusya1905/lusya190500065/123949922-old-books-on-the-shelf-dark-background-of-the-library-horizontal-photo-selective-focus-.jpg?ver=6);
  padding: 30px;
}
td
{
    padding-left:15px;
}

.topgap
{
    margin-top:10%;
}

.buttonSubmit
{
    margin-top:10px;
    margin-left:8px;
}